In [27]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, LabelBinarizer
import math
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('cost_of_living_us.csv')
df

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31425,3171,WY,False,"Weston County, WY",Weston County,2p0c,8316.00000,6010.65672,14790.36240,14466.55920,5191.11288,0.0000,6640.77324,55415.4672,80177.656250
31426,3171,WY,False,"Weston County, WY",Weston County,2p1c,10956.00000,7480.86696,15611.58600,18086.24160,6680.40384,8675.8770,7933.21068,75424.1832,80177.656250
31427,3171,WY,False,"Weston County, WY",Weston County,2p2c,10956.00000,9474.35748,16163.90280,21705.92280,7402.72416,21207.6984,9502.56228,96413.1684,80177.656250
31428,3171,WY,False,"Weston County, WY",Weston County,2p3c,13632.00000,11567.46972,17118.38400,25325.60400,9130.76148,25063.6440,11456.36724,113294.2260,80177.656250
31429,3171,WY,False,"Weston County, WY",Weston County,2p4c,13632.00000,14155.81080,17184.34920,28945.28640,10068.61968,25063.6440,11484.86724,120534.5760,80177.656250

In [3]:
df['adult_count'] = df['family_member_count'].str[0]
df['child_count'] = df['family_member_count'].str[2]
df

,case_id,state,isMetro,areaname,county,family_member_count,housing_cost,food_cost,transportation_cost,healthcare_cost,other_necessities_cost,childcare_cost,taxes,total_cost,median_family_income,adult_count,child_count
0,1,AL,True,"Montgomery, AL MSA",Autauga County,1p0c,8505.72876,3454.91712,10829.16876,5737.47984,4333.81344,0.0000,6392.94504,39254.0532,73010.414062,1,0
1,1,AL,True,"Montgomery, AL MSA",Autauga County,1p1c,12067.50240,5091.70788,11588.19288,8659.55640,6217.45896,6147.8298,7422.07836,57194.3256,73010.414062,1,1
2,1,AL,True,"Montgomery, AL MSA",Autauga County,1p2c,12067.50240,7460.20308,12361.77720,11581.63260,7075.65816,15824.6940,9769.56228,76141.0308,73010.414062,1,2
3,1,AL,True,"Montgomery, AL MSA",Autauga County,1p3c,15257.15040,9952.23924,13452.18600,14503.70760,9134.35620,18802.1892,13101.70320,94203.5328,73010.414062,1,3
4,1,AL,True,"Montgomery, AL MSA",Autauga County,1p4c,15257.15040,12182.21400,13744.59840,17425.78560,9942.36396,18802.1892,13469.21880,100823.5200,73010.414062,1,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31425,3171,WY,False,"Weston County, WY",Weston County,2p0c,8316.00000,6010.65672,14790.36240,14466.55920,5191.11288,0.0000,6640.77324,55415.4672,80177.656250,2,0
31426,3171,WY,False,"Weston County, WY",Weston County,2p1c,10956.00000,7480.86696,15611.58600,18086.24160,6680.40384,8675.8770,7933.21068,75424.1832,80177.656250,2,1
31427,3171,WY,False,"Weston County, WY",Weston County,2p2c,10956.00000,9474.35748,16163.90280,21705.92280,7402.72416,21207.6984,9502.56228,96413.1684,80177.656250,2,2
31428,3171,WY,False,"Weston County, WY",Weston County,2p3c,13632.00000,11567.46972,17118.38400,25325.60400,9130.76148,25063.6440,11456.36724,113294.2260,80177.656250,2,3
31429,3171,WY,False,"Weston County, WY",Weston County,2p4c,13632.00000,14155.81080,17184.34920,28945.28640,10068.61968,25063.6440,11484.86724,120534.5760,80177.656250,2,4

In [4]:
df = df.drop(['case_id','family_member_count', 'areaname', 'housing_cost'	, 'food_cost'	,'transportation_cost'	,'healthcare_cost'	,'other_necessities_cost',	'childcare_cost',	'taxes'], axis=1)
df

,state,isMetro,county,total_cost,median_family_income,adult_count,child_count
0,AL,True,Autauga County,39254.0532,73010.414062,1,0
1,AL,True,Autauga County,57194.3256,73010.414062,1,1
2,AL,True,Autauga County,76141.0308,73010.414062,1,2
3,AL,True,Autauga County,94203.5328,73010.414062,1,3
4,AL,True,Autauga County,100823.5200,73010.414062,1,4
...,...,...,...,...,...,...,...
31425,WY,False,Weston County,55415.4672,80177.656250,2,0
31426,WY,False,Weston County,75424.1832,80177.656250,2,1
31427,WY,False,Weston County,96413.1684,80177.656250,2,2
31428,WY,False,Weston County,113294.2260,80177.656250,2,3
31429,WY,False,Weston County,120534.5760,80177.656250,2,4

In [5]:
df = df.rename(columns={'total_cost':'cost', 'median_family_income':'income'})
df

,state,isMetro,county,cost,income,adult_count,child_count
0,AL,True,Autauga County,39254.0532,73010.414062,1,0
1,AL,True,Autauga County,57194.3256,73010.414062,1,1
2,AL,True,Autauga County,76141.0308,73010.414062,1,2
3,AL,True,Autauga County,94203.5328,73010.414062,1,3
4,AL,True,Autauga County,100823.5200,73010.414062,1,4
...,...,...,...,...,...,...,...
31425,WY,False,Weston County,55415.4672,80177.656250,2,0
31426,WY,False,Weston County,75424.1832,80177.656250,2,1
31427,WY,False,Weston County,96413.1684,80177.656250,2,2
31428,WY,False,Weston County,113294.2260,80177.656250,2,3
31429,WY,False,Weston County,120534.5760,80177.656250,2,4

In [6]:
df_income = pd.read_csv('kaggle_income.csv', encoding='latin-1')
df_rent = pd.read_csv('kaggle_gross_rent.csv',  encoding='latin-1')
df_income

C:\Users\riasa\AppData\Local\Temp\ipykernel_73696\1796097989.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_rent = pd.read_csv('kaggle_gross_rent.csv',  encoding='latin-1')

,id,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Mean,Median,Stdev,sum_w
0,1011000,1,Alabama,AL,Mobile County,Chickasaw,Chickasaw city,City,place,36611,251,10894952,909156,30.771450,-88.079697,38773,30506,33101,1638.260513
1,1011010,1,Alabama,AL,Barbour County,Louisville,Clio city,City,place,36048,334,26070325,23254,31.708516,-85.611039,37725,19528,43789,258.017685
2,1011020,1,Alabama,AL,Shelby County,Columbiana,Columbiana city,City,place,35051,205,44835274,261034,33.191452,-86.615618,54606,31930,57348,926.031000
3,1011030,1,Alabama,AL,Mobile County,Satsuma,Creola city,City,place,36572,251,36878729,2374530,30.874343,-88.009442,63919,52814,47707,378.114619
4,1011040,1,Alabama,AL,Mobile County,Dauphin Island,Dauphin Island,Town,place,36528,251,16204185,413605152,30.250913,-88.171268,77948,67225,54270,282.320328
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32521,720296,72,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,787,589417,1691,18.397925,-66.130633,30649,13729,37977,1321.278082
32522,7202966,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,1801613,795887,18.385424,-67.203310,15520,9923,15541,238.813450
32523,7202976,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,11031227,0,18.356565,-67.180686,41933,34054,31539,313.551070
32524,7202986,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,0,33597561,18.412041,-67.213413,0,0,0,0.000000
32525,7202996,72,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,787,6476604,2717115,18.478094,-67.160453,28049,20229,33333,512.884803

In [7]:
df_merge = pd.merge(df_income, df_rent, on=['State_Code','State_Name','State_ab', 'County', 'City', 'Primary', 'Place', 'Type', 'Zip_Code', 'Area_Code', 'ALand', 'AWater', 'Lat', 'Lon'])
df_merge

,id_x,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,...,Lon,Mean_x,Median_x,Stdev_x,sum_w,id_y,Mean_y,Median_y,Stdev_y,Samples
0,41021002,41,Oregon,OR,Baker County,Clackamas,Baker City city,Track,Track,97015,...,-122.512645,83022,300000,45473,469.496687,41021002,1122,1056,242,350
1,41021012,41,Oregon,OR,Baker County,Portland,Baker City city,Track,Track,97266,...,-122.574608,33175,29242,22129,726.410780,41021012,884,886,268,826
2,41021022,41,Oregon,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,...,-122.545333,86611,76960,52699,165.854955,41021022,918,845,163,26
3,41021032,41,Oregon,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,...,-122.600615,57749,55095,45765,596.935074,41021032,1083,930,580,655
4,41021042,41,Oregon,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,...,-122.614660,84220,78294,50384,754.486303,41021042,1359,1296,395,212
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8789,7202946,72,Puerto Rico,PR,Adjuntas Municipio,Adjuntas,Adjuntas,Track,Track,601,...,-66.737830,19807,9378,21654,524.345149,7202946,343,364,87,141
8790,720296,72,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,...,-66.130633,30649,13729,37977,1321.278082,720296,386,274,328,930
8791,7202966,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,...,-67.203310,15520,9923,15541,238.813450,7202966,443,471,99,71
8792,7202976,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,...,-67.180686,41933,34054,31539,313.551070,7202976,701,396,388,45
8793,7202996,72,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,...,-67.160453,28049,20229,33333,512.884803,7202996,494,483,147,80

In [8]:
df_merge['cost'] = df_merge['Samples'] * df_merge['Mean_y']
df_merge = df_merge.rename(columns={'sum_w': 'Income'})

df_merge

,id_x,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,...,Mean_x,Median_x,Stdev_x,Income,id_y,Mean_y,Median_y,Stdev_y,Samples,cost
0,41021002,41,Oregon,OR,Baker County,Clackamas,Baker City city,Track,Track,97015,...,83022,300000,45473,469.496687,41021002,1122,1056,242,350,392700
1,41021012,41,Oregon,OR,Baker County,Portland,Baker City city,Track,Track,97266,...,33175,29242,22129,726.410780,41021012,884,886,268,826,730184
2,41021022,41,Oregon,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,...,86611,76960,52699,165.854955,41021022,918,845,163,26,23868
3,41021032,41,Oregon,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,...,57749,55095,45765,596.935074,41021032,1083,930,580,655,709365
4,41021042,41,Oregon,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,...,84220,78294,50384,754.486303,41021042,1359,1296,395,212,288108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8789,7202946,72,Puerto Rico,PR,Adjuntas Municipio,Adjuntas,Adjuntas,Track,Track,601,...,19807,9378,21654,524.345149,7202946,343,364,87,141,48363
8790,720296,72,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,...,30649,13729,37977,1321.278082,720296,386,274,328,930,358980
8791,7202966,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,...,15520,9923,15541,238.813450,7202966,443,471,99,71,31453
8792,7202976,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,...,41933,34054,31539,313.551070,7202976,701,396,388,45,31545
8793,7202996,72,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,...,28049,20229,33333,512.884803,7202996,494,483,147,80,39520

In [9]:
df_merge = df_merge.rename(columns={'sum_w': 'Income'})
df_merge = df_merge.drop(columns=['Mean_x', 'Mean_y', 'Median_x', 'Median_y', 'Stdev_x', 'Stdev_y', 'Samples', 'id_x', 'id_y'])
df_merge

,State_Code,State_Name,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,ALand,AWater,Lat,Lon,Income,cost
0,41,Oregon,OR,Baker County,Clackamas,Baker City city,Track,Track,97015,503,3706252,0,45.418880,-122.512645,469.496687,392700
1,41,Oregon,OR,Baker County,Portland,Baker City city,Track,Track,97266,503,2034574,0,45.445405,-122.574608,726.410780,730184
2,41,Oregon,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,18885484,810773,45.384743,-122.545333,165.854955,23868
3,41,Oregon,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,5646730,155949,45.345002,-122.600615,596.935074,709365
4,41,Oregon,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,5345121,0,45.321189,-122.614660,754.486303,288108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8789,72,Puerto Rico,PR,Adjuntas Municipio,Adjuntas,Adjuntas,Track,Track,601,787,44833906,90659,18.204166,-66.737830,524.345149,48363
8790,72,Puerto Rico,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,787,589417,1691,18.397925,-66.130633,1321.278082,358980
8791,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,1801613,795887,18.385424,-67.203310,238.813450,31453
8792,72,Puerto Rico,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,11031227,0,18.356565,-67.180686,313.551070,31545
8793,72,Puerto Rico,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,787,6476604,2717115,18.478094,-67.160453,512.884803,39520

In [10]:
df_merge = df_merge.drop([ 'State_Code','State_Name','ALand', 'AWater', 'Lat', 'Lon'], axis=1)
df_merge

,State_ab,County,City,Place,Type,Primary,Zip_Code,Area_Code,Income,cost
0,OR,Baker County,Clackamas,Baker City city,Track,Track,97015,503,469.496687,392700
1,OR,Baker County,Portland,Baker City city,Track,Track,97266,503,726.410780,730184
2,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,165.854955,23868
3,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,596.935074,709365
4,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,754.486303,288108
...,...,...,...,...,...,...,...,...,...,...
8789,PR,Adjuntas Municipio,Adjuntas,Adjuntas,Track,Track,601,787,524.345149,48363
8790,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,787,1321.278082,358980
8791,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,238.813450,31453
8792,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,313.551070,31545
8793,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,787,512.884803,39520

In [11]:
df_merge = df_merge.rename(columns={'Zip_Code':'zip'})
df_merge

,State_ab,County,City,Place,Type,Primary,zip,Area_Code,Income,cost
0,OR,Baker County,Clackamas,Baker City city,Track,Track,97015,503,469.496687,392700
1,OR,Baker County,Portland,Baker City city,Track,Track,97266,503,726.410780,730184
2,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,165.854955,23868
3,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,596.935074,709365
4,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,754.486303,288108
...,...,...,...,...,...,...,...,...,...,...
8789,PR,Adjuntas Municipio,Adjuntas,Adjuntas,Track,Track,601,787,524.345149,48363
8790,PR,Adjuntas Municipio,Guaynabo,Adjuntas,Track,Track,970,787,1321.278082,358980
8791,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,238.813450,31453
8792,PR,Adjuntas Municipio,Aguada,Adjuntas,Track,Track,602,787,313.551070,31545
8793,PR,Adjuntas Municipio,Aguadilla,Adjuntas,Track,Track,603,787,512.884803,39520

In [12]:
df_zip = pd.read_csv('uszips.csv')
df_zip

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18027,-66.75266,Adjuntas,PR,Puerto Rico,True,NaN,17126.0,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36075,-67.17541,Aguada,PR,Puerto Rico,True,NaN,37895.0,482.5,72003,Aguada,"{""72003"": 100}",Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45744,-67.12225,Aguadilla,PR,Puerto Rico,True,NaN,49136.0,552.4,72005,Aguadilla,"{""72005"": 99.76, ""72099"": 0.24}",Aguadilla|Moca,72005|72099,False,False,America/Puerto_Rico
3,606,18.16585,-66.93716,Maricao,PR,Puerto Rico,True,NaN,5751.0,50.1,72093,Maricao,"{""72093"": 82.27, ""72153"": 11.66, ""72121"": 6.06}",Maricao|Yauco|Sabana Grande,72093|72153|72121,False,False,America/Puerto_Rico
4,610,18.29110,-67.12243,Anasco,PR,Puerto Rico,True,NaN,26153.0,272.1,72011,Añasco,"{""72011"": 96.7, ""72099"": 2.81, ""72083"": 0.37, ...",Añasco|Moca|Las Marías|Aguada,72011|72099|72083|72003,False,False,America/Puerto_Rico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33783,99923,55.98043,-130.03803,Hyder,AK,Alaska,True,NaN,13.0,0.3,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33784,99925,55.55398,-132.96276,Klawock,AK,Alaska,True,NaN,917.0,6.6,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33785,99926,55.12617,-131.48928,Metlakatla,AK,Alaska,True,NaN,1445.0,4.2,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Metlakatla
33786,99927,56.33305,-133.60044,Point Baker,AK,Alaska,True,NaN,11.0,0.9,2198,Prince of Wales-Hyder,"{""02198"": 100}",Prince of Wales-Hyder,02198,False,False,America/Sitka
33787,99929,56.36089,-132.00635,Wrangell,AK,Alaska,True,NaN,2161.0,0.3,2275,Wrangell,"{""02275"": 100}",Wrangell,02275,False,False,America/Sitka

In [13]:
df_merge_2 = pd.merge(df_merge, df_zip, on='zip')
df_merge_2['isMetro'] = df_merge_2['density'] >= 500
df_merge_2

,State_ab,County,City,Place,Type,Primary,zip,Area_Code,Income,cost,...,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone,isMetro
0,OR,Baker County,Clackamas,Baker City city,Track,Track,97015,503,469.496687,392700,...,1028.1,41005,Clackamas,"{""41005"": 100}",Clackamas,41005,False,False,America/Los_Angeles,True
1,OR,Baker County,Portland,Baker City city,Track,Track,97266,503,726.410780,730184,...,2254.4,41051,Multnomah,"{""41051"": 100}",Multnomah,41051,False,False,America/Los_Angeles,True
2,OR,Baker County,Portland,Baker City city,Track,Track,97266,503,313.393251,164984,...,2254.4,41051,Multnomah,"{""41051"": 100}",Multnomah,41051,False,False,America/Los_Angeles,True
3,OR,Baker County,Portland,Baker City city,Track,Track,97266,503,425.382908,300160,...,2254.4,41051,Multnomah,"{""41051"": 100}",Multnomah,41051,False,False,America/Los_Angeles,True
4,OR,Baker County,Oregon City,Baker City city,Track,Track,97045,503,165.854955,23868,...,252.1,41005,Clackamas,"{""41005"": 100}",Clackamas,41005,False,False,America/Los_Angeles,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8561,PR,Adjuntas Municipio,Adjuntas,Adjuntas,Track,Track,601,787,615.289902,76838,...,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico,False
8562,PR,Adjuntas Municipio,Adjuntas,Adjuntas,Track,Track,601,787,615.289902,46355,...,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico,False
8563,PR,Adjuntas Municipio,Adjuntas,Adjuntas,Track,Track,601,787,524.345149,48363,...,102.6,72001,Adjuntas,"{""72001"": 98.73, ""72141"": 1.27}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico,False
8564,PR,Adjuntas Municipio,Ponce,Adjuntas,Track,Track,715,787,937.793239,96571,...,61.1,72113,Ponce,"{""72113"": 99.08, ""72075"": 0.92}",Ponce|Juana Díaz,72113|72075,False,False,America/Puerto_Rico,False
8565,PR,Adjuntas Municipio,Toa Baja,Adjuntas,Track,Track,951,787,919.382495,202070,...,135.5,72137,Toa Baja,"{""72137"": 100}",Toa Baja,72137,False,False,America/Puerto_Rico,False

In [14]:
df_merge_2 = df_merge_2.drop(['City', 'Place', 'Type', 'Primary', 'zip', 'Area_Code', 'density', 'county_fips', 'county_name', 'county_weights', 'county_names_all','imprecise', 'military', 'timezone', 'lat', 'lng','city','state_id','zcta','parent_zcta', 'population', 'county_fips_all', 'state_name'], axis=1)
df_merge_2

     State_ab              County      Income    cost  isMetro
0          OR        Baker County  469.496687  392700     True
1          OR        Baker County  726.410780  730184     True
2          OR        Baker County  313.393251  164984     True
3          OR        Baker County  425.382908  300160     True
4          OR        Baker County  165.854955   23868    False
...       ...                 ...         ...     ...      ...
8561       PR  Adjuntas Municipio  615.289902   76838    False
8562       PR  Adjuntas Municipio  615.289902   46355    False
8563       PR  Adjuntas Municipio  524.345149   48363    False
8564       PR  Adjuntas Municipio  937.793239   96571    False
8565       PR  Adjuntas Municipio  919.382495  202070    False

[8566 rows x 5 columns]

In [15]:
df_merge_2['adult_count'] = 1
df_merge_2['child_count'] = 0
df_merge_2

,State_ab,County,Income,cost,isMetro,adult_count,child_count
0,OR,Baker County,469.496687,392700,True,1,0
1,OR,Baker County,726.410780,730184,True,1,0
2,OR,Baker County,313.393251,164984,True,1,0
3,OR,Baker County,425.382908,300160,True,1,0
4,OR,Baker County,165.854955,23868,False,1,0
...,...,...,...,...,...,...,...
8561,PR,Adjuntas Municipio,615.289902,76838,False,1,0
8562,PR,Adjuntas Municipio,615.289902,46355,False,1,0
8563,PR,Adjuntas Municipio,524.345149,48363,False,1,0
8564,PR,Adjuntas Municipio,937.793239,96571,False,1,0
8565,PR,Adjuntas Municipio,919.382495,202070,False,1,0

In [16]:
df_merge_2 = df_merge_2.rename(columns={'County': 'county', 'Income':'income', 'State_ab': 'state'})
df_merge_2

,state,county,income,cost,isMetro,adult_count,child_count
0,OR,Baker County,469.496687,392700,True,1,0
1,OR,Baker County,726.410780,730184,True,1,0
2,OR,Baker County,313.393251,164984,True,1,0
3,OR,Baker County,425.382908,300160,True,1,0
4,OR,Baker County,165.854955,23868,False,1,0
...,...,...,...,...,...,...,...
8561,PR,Adjuntas Municipio,615.289902,76838,False,1,0
8562,PR,Adjuntas Municipio,615.289902,46355,False,1,0
8563,PR,Adjuntas Municipio,524.345149,48363,False,1,0
8564,PR,Adjuntas Municipio,937.793239,96571,False,1,0
8565,PR,Adjuntas Municipio,919.382495,202070,False,1,0

In [17]:
df = pd.concat([df, df_merge_2])
df

,state,isMetro,county,cost,income,adult_count,child_count
0,AL,True,Autauga County,39254.0532,73010.414062,1,0
1,AL,True,Autauga County,57194.3256,73010.414062,1,1
2,AL,True,Autauga County,76141.0308,73010.414062,1,2
3,AL,True,Autauga County,94203.5328,73010.414062,1,3
4,AL,True,Autauga County,100823.5200,73010.414062,1,4
...,...,...,...,...,...,...,...
8561,PR,False,Adjuntas Municipio,76838.0000,615.289902,1,0
8562,PR,False,Adjuntas Municipio,46355.0000,615.289902,1,0
8563,PR,False,Adjuntas Municipio,48363.0000,524.345149,1,0
8564,PR,False,Adjuntas Municipio,96571.0000,937.793239,1,0
8565,PR,False,Adjuntas Municipio,202070.0000,919.382495,1,0

In [18]:
le = LabelEncoder()

cols_encode = ['isMetro', 'county', 'state']

for col in cols_encode:
  df[col] = le.fit_transform(df[col])

df

,state,isMetro,county,cost,income,adult_count,child_count
0,1,1,83,39254.0532,73010.414062,1,0
1,1,1,83,57194.3256,73010.414062,1,1
2,1,1,83,76141.0308,73010.414062,1,2
3,1,1,83,94203.5328,73010.414062,1,3
4,1,1,83,100823.5200,73010.414062,1,4
...,...,...,...,...,...,...,...
8561,39,0,7,76838.0000,615.289902,1,0
8562,39,0,7,46355.0000,615.289902,1,0
8563,39,0,7,48363.0000,524.345149,1,0
8564,39,0,7,96571.0000,937.793239,1,0
8565,39,0,7,202070.0000,919.382495,1,0

In [19]:
df['adult_count'] = df['adult_count'].astype(int)
df['child_count'] = df['child_count'].astype(int)

In [20]:
cols_encode = ['county', 'state']

def dectob(x):
  y = bin(int(x))
  if(len(y) ==2 ):
    y = y[0]
  else:
    y = y[2:]

  return y;

for col in cols_encode:
  df[col] = df[col].apply(dectob)

df

,state,isMetro,county,cost,income,adult_count,child_count
0,1,1,1010011,39254.0532,73010.414062,1,0
1,1,1,1010011,57194.3256,73010.414062,1,1
2,1,1,1010011,76141.0308,73010.414062,1,2
3,1,1,1010011,94203.5328,73010.414062,1,3
4,1,1,1010011,100823.5200,73010.414062,1,4
...,...,...,...,...,...,...,...
8561,100111,0,111,76838.0000,615.289902,1,0
8562,100111,0,111,46355.0000,615.289902,1,0
8563,100111,0,111,48363.0000,524.345149,1,0
8564,100111,0,111,96571.0000,937.793239,1,0
8565,100111,0,111,202070.0000,919.382495,1,0

In [21]:
# show number of NaN values per column
df.isnull().sum()

state           0
isMetro         0
county          0
cost            0
income         10
adult_count     0
child_count     0
dtype: int64

In [22]:
df['income'] = df['income'].interpolate(method='linear')
df.isnull().sum()

state          0
isMetro        0
county         0
cost           0
income         0
adult_count    0
child_count    0
dtype: int64

In [23]:
df['cost'] = round(df['cost'])
df['income'] = round(df['income'])
df['cost'] = df['cost'].astype(int)
df['income'] = df['income'].astype(int)
df

       state  isMetro   county    cost  income  adult_count  child_count
0          1        1  1010011   39254   73010            1            0
1          1        1  1010011   57194   73010            1            1
2          1        1  1010011   76141   73010            1            2
3          1        1  1010011   94204   73010            1            3
4          1        1  1010011  100824   73010            1            4
...      ...      ...      ...     ...     ...          ...          ...
8561  100111        0      111   76838     615            1            0
8562  100111        0      111   46355     615            1            0
8563  100111        0      111   48363     524            1            0
8564  100111        0      111   96571     938            1            0
8565  100111        0      111  202070     919            1            0

[39996 rows x 7 columns]

In [28]:
df['state'] = df['state'].astype(np.int64)
df['county'] = df['county'].astype(np.int64)
df['adult_count'] = df['adult_count'].astype(np.int64)
df['child_count'] = df['child_count'].astype(np.int64)
df.dtypes

state          int64
isMetro        int64
county         int64
cost           int32
income         int32
adult_count    int64
child_count    int64
dtype: object

In [29]:
y_cols = ['state', 'county']

df_y = df[y_cols]
df_y

       state   county
0          1  1010011
1          1  1010011
2          1  1010011
3          1  1010011
4          1  1010011
...      ...      ...
8561  100111      111
8562  100111      111
8563  100111      111
8564  100111      111
8565  100111      111

[39996 rows x 2 columns]

In [30]:
df_x = df.drop(y_cols, axis=1)
df_x

      isMetro    cost  income  adult_count  child_count
0           1   39254   73010            1            0
1           1   57194   73010            1            1
2           1   76141   73010            1            2
3           1   94204   73010            1            3
4           1  100824   73010            1            4
...       ...     ...     ...          ...          ...
8561        0   76838     615            1            0
8562        0   46355     615            1            0
8563        0   48363     524            1            0
8564        0   96571     938            1            0
8565        0  202070     919            1            0

[39996 rows x 5 columns]

In [31]:
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.33, random_state=42)
x_train

       isMetro     cost  income  adult_count  child_count
29484        1    90490   73092            1            4
27140        1    36030   86616            1            0
21227        0    74269   66738            2            2
1121         0    45461   57424            1            1
3459         1    99606   58704            2            4
...        ...      ...     ...          ...          ...
6265         1    54645   90141            2            0
11284        1    75396   57834            1            4
6728         1  1020096     326            1            0
860          0    43105   60250            1            0
15795        1    48822   90981            2            0

[26797 rows x 5 columns]

In [32]:
y_train_state = y_train['state']
y_train_county = y_train['county']

y_test_state = y_test['state']
y_test_county = y_test['county']

DT and Ramdom Forest

In [33]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score


ig_clf = DecisionTreeClassifier(criterion='entropy')
ig_clf.fit(x_train, y_train_state)


ig_y_pred_state = ig_clf.predict(x_test)
ig_acc = accuracy_score(y_test_state, ig_y_pred_state)
ig_acc

0.7671035684521554

In [34]:
# run a decision tree classifier with gini params
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score


gini_clf = DecisionTreeClassifier(criterion='gini')
gini_clf.fit(x_train, y_train_state)


gini_y_pred_state = gini_clf.predict(x_test)
gini_acc = accuracy_score(y_test_state, gini_y_pred_state)
ig_acc

0.7671035684521554

In [35]:
# run a decision tree classifier with ig params
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score


ig_clf = DecisionTreeClassifier(criterion='entropy')
ig_clf.fit(x_train, y_train_county)


ig_y_pred_county = ig_clf.predict(x_test)
ig_acc = accuracy_score(y_test_county, ig_y_pred_county)
ig_acc

0.8114251079627245

In [36]:
# run a decision tree classifier with ig params
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score


gini_clf = DecisionTreeClassifier(criterion='gini')
gini_clf.fit(x_train, y_train_county)


gini_y_pred_county = gini_clf.predict(x_test)
gini_acc = accuracy_score(y_test_county, gini_y_pred_county)
gini_acc

0.8108947647549056

Random forest

In [37]:
ig_rand_forest_clf_state = RandomForestClassifier(n_estimators=50, criterion='entropy')
ig_rand_forest_clf_state.fit(x_train, y_train_state)

ig_rand_forest_y_pred_state = ig_rand_forest_clf_state.predict(x_test)
ig_rand_forest_acc_state = accuracy_score(y_test_state, ig_rand_forest_y_pred_state)
print("Random forest Accuracy ", ig_rand_forest_acc_state)

Random forest Accuracy  0.1722857792256989

In [38]:
gini_rand_forest_clf_state = RandomForestClassifier(n_estimators=50, criterion='gini')
gini_rand_forest_clf_state.fit(x_train, y_train_state)

gini_rand_forest_y_pred_state = gini_rand_forest_clf_state.predict(x_test)
gini_rand_forest_acc_state = accuracy_score(y_test_state, gini_rand_forest_y_pred_state)
print("Random forest Accuracy ", gini_rand_forest_acc_state)

Random forest Accuracy  0.17130085612546406

In [39]:
ig_rand_forest_clf_county = RandomForestClassifier(n_estimators=10, criterion='entropy')
ig_rand_forest_clf_county.fit(x_train, y_train_county)

ig_rand_forest_y_pred_county = ig_rand_forest_clf_county.predict(x_test)
ig_rand_forest_acc_county = accuracy_score(y_test_county, ig_rand_forest_y_pred_county)
print("Random forest Accuracy ", ig_rand_forest_acc_county)

Random forest Accuracy  0.07333888930979619

In [40]:
gini_rand_forest_clf_county = RandomForestClassifier(n_estimators=10, criterion='gini')
gini_rand_forest_clf_county.fit(x_train, y_train_county)

gini_rand_forest_y_pred_county = gini_rand_forest_clf_county.predict(x_test)
gini_rand_forest_acc_county = accuracy_score(y_test_county, gini_rand_forest_y_pred_county)
print("Random forest Accuracy ", gini_rand_forest_acc_county)

Random forest Accuracy  0.07182362300174255

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.countplot(x='county',data=df)
plt.show()